*{
    font-family: Arial, Helvetica, sans-serif;
    font-size:px;

}

body{
    background-color: rgb(132, 70, 191);
}

main{
    background-color: beige;
    width: 400px;
    margin: auto;
    padding: 15px;
    box-shadow: 3px 3px 5px rgb(150, 149, 149);
}

